--extra-index-url https://download.pytorch.org/whl/cpu
autofaiss
importlib_metadata
torch
git+https://github.com/gonced8/RETRO-pytorch.git
transformers

datasets
faiss-cpu
matplotlib
nltk
numpy
pandas
pyserini
pytorch-lightning
rouge_score
sentencepiece
tqdm
transformers
unidecode
